@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
body {
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.container .date {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
}
.container .date .alertError {
  position: absolute;
  width: 170px;
  top: 43px;
}
.container .date *,
.container .date *:before,
.container .date *:after {
  box-sizing: border-box;
}
.container .date input[type=date] {
  background-color: rgb(217, 224, 227);
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #333;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.container .date ::-webkit-calendar-picker-indicator {
  background-color: rgb(217, 224, 227);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.container .MuiInputBase-root {
  text-align: left;
}
.container .allInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

.form__label {
  font-size: 1rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  font-family: "Space Mono", monospace;
}

.form__input {
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.8rem 1.3rem;
  color: #333;
  border-radius: 0.2rem;
  background-color: rgb(217, 224, 227);
  border: none;
  width: 200px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  font-family: "Space Mono", monospace;
}

.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  font-family: "Space Mono", monospace;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  font-family: "Space Mono", monospace;
}

.form__group {
  font-family: "Space Mono", monospace;
  width: 200px;
  position: relative;
}
.form__group .alertError {
  position: absolute;
  top: 85px;
}

.bubbly-button {
  margin-top: 55px;
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #0062ff;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(0, 123, 255, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  background-image: radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0062ff 20%, transparent 30%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0062ff 15%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0062ff 15%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%), radial-gradient(circle, #0062ff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #0058e6;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
thead tr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  background-color: rgb(217, 224, 227);
  border-radius: 10px;
}
thead tr th {
  width: 160px;
  height: 50px;
}
thead tr th:nth-child(7) {
  width: 100px;
}

tbody tr {
  display: flex;
  justify-content: center;
  gap: 30px;
}
tbody tr td {
  min-height: 50px;
  width: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
tbody tr td:nth-child(7) {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
tbody tr:hover {
  background-color: rgba(217, 224, 227, 0.502);
  border-radius: 10px;
}

.toggleButton {
  cursor: pointer;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: transform 0.14s ease;
}
.toggleButton:active {
  transform: rotateX(30deg);
}
.toggleButton input {
  display: none;
}
.toggleButton input + div {
  border: 3px solid;
  border-color: green;
  border-radius: 50%;
  position: relative;
  width: 44px;
  height: 44px;
}
.toggleButton input + div svg {
  fill: none;
  stroke-width: 3.6;
  stroke: green;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  transition: all 0.4s ease 0s;
}
.toggleButton input + div:before, .toggleButton input + div:after {
  content: "";
  width: 3px;
  height: 16px;
  background: green;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
}
.toggleButton input + div:before {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  animation: bounceInBefore 0.3s linear forwards 0.3s;
}
.toggleButton input + div:after {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  animation: bounceInAfter 0.3s linear forwards 0.3s;
}
.toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  transition: all 0.4s ease 0.2s;
}
.toggleButton input:checked + div:before {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  animation: bounceInBeforeDont 0.3s linear forwards 0s;
}
.toggleButton input:checked + div:after {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  animation: bounceInAfterDont 0.3s linear forwards 0s;
}

@keyframes bounceInBefore {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes bounceInAfter {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.waitDate {
  width: 170px;
  height: 53.4px;
}

.MuiFormControl-root {
  display: flex;
  justify-content: end;
  text-align: end;
}

.MuiOutlinedInput-notchedOutline {
  display: flex;
  justify-content: end;
  text-align: end;
  padding-top: 20px;
}

.lbSelect {
  margin-top: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}/*# sourceMappingURL=inputs.css.map */